@import url("https://use.typekit.net/lro3nyk.css");
/*
Proxima Nova Bold

font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: normal;

Proxima Nova Bold Italic

font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;

Proxima Nova Regular

font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;

Proxima Nova Italic

font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: italic;


Skolar Sans Latin Regular

font-family: skolar-sans-latin, sans-serif;
font-weight: 400;
font-style: normal;

Skolar Sans Latin Bold Italic

font-family: skolar-sans-latin, sans-serif;
font-weight: 700;
font-style: italic;

Skolar Sans Latin Bold

font-family: skolar-sans-latin, sans-serif;
font-weight: 700;
font-style: normal;

Skolar Sans Latin Italic

font-family: skolar-sans-latin, sans-serif;
font-weight: 400;
font-style: italic;
*/
:root {
  /*Fonts*/
  --proxima: proxima-nova, sans-serif;
  --skolar: skolar-sans-latin, sans-serif;
  /*Fonts*/
  /*Colors*/
  --black-main: #333333;
  --blue-main: #334060;
  --red-main: #e54e56;
  --red-second: #e3b9ad;
  --red-tertiary: #f7c9cc;
  --yellow-main: #fce371;
  --yellow-second: #fef7e5;
  /*Colors*/
}

html,
body {
  font: normal normal normal 1rem/1.4rem var(--skolar) !important;
  color: var(--black-main);
}

#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
